.text-black {
    color: white;
    font-family: 'Betty_Regular.ttf';
    font-size: 40px;
    }
    
    @font-face {
    font-family : "Betty_Regular.ttf";
    src: url("/assets/Police/Betty_Regular.ttf");
    }
    
    .blue {
    background-color: #3788c6;
    }